/* We need these to take priority because it may be overridden by Leaflet */
.leaflet-bar a.leaflet-pelias-search-icon {
  border-bottom: 0 !important;
  height: 100% !important;
}

.leaflet-pelias-control.leaflet-pelias-control.leaflet-pelias-control {
  z-index: 810;
}

/* Putting the stuff in a different order requires this to be set differently */
.leaflet-touch .leaflet-pelias-results.leaflet-bar {
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.2);
  margin-left: -2px;
}

/* Default result height on mobile is too large anyway */
.leaflet-touch .leaflet-pelias-control.leaflet-pelias-expanded {
  line-height: 32px;
}
